@charset "utf-8";
    
#ecform_container {
    text-align: center;
    width: 95%;
}

#ecform_title {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}

#ecform_content {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-bottom: thin #dcdcdc solid;  
    border-left: thin #dcdcdc solid; 
    border-right: thin #dcdcdc solid;
    border-top: thin #dcdcdc solid;
    clear: both;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-x : hidden;  
}

#ecform_content .titcontent {
    margin-top: 1em;
}

#ecform_container .on {
    display: block;
}

#ecform_container .off {
    display: none;
}

#ecform_container .tabon {
    display: inline;
}
#ecform_container .taboff {
    display: inline;
    opacity: 0.5;
}

#ecform_onglet ul li{
    background-position: top right;
    background-repeat: no-repeat;
    margin: 5px 4px 0px 4px;
}

#ecform_onglet ul#menu li a {
    height: 22px;
    line-height: 13px;
    width: 116px;
}

.ecformtab {
    margin-bottom:5px;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
}

.son {
    display: block;
}

.soff {
    display: none;
}    
    
#monForm {
    width: 91%;
}

#monForm p {
    margin: 2px 0;
    margin-bottom: 10px;
}

#monForm fieldset {
    border: #ccc 1px solid;
    margin-bottom: 10px;
    padding: 7px 7px 7px 7px;  
}

#monForm fieldset:hover {
    background-color: #fff;
}

#monForm fieldset legend {
    padding: 0 10px;
    font-size: 1.3em;
    color: #999;
}

/* Label */
#monForm label {
    background: #dcdcdc;
    display: block;
    float: left;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding-right: 1%;
    text-align: right;
    width: 35%;
}

#monForm label:hover {
    font-weight: bold;
}

#monForm label .error{
    background-color: #ff0000;
}

#monForm .form_label_nostyle {
    background: none;
}

/* Input */
#monForm input, #monForm select {
    border: #ccc 1px solid;
    margin-left: 1%;
    width: 62%;
}

#monForm input:hover, #monForm select:hover, #monForm input:focus, #monForm select:focus {
    border: #ccc 1px solid;
}

#monForm .form_input_day {
    text-align: center;
    width: 20%;
}

#monForm .form_input_month {
    text-align: center;
    width: 20%;
}

#monForm .form_input_year {
    text-align: center;
    width: 20%;
}

#monForm .form_input_duration {
    width: 6%;
}

#monForm .addbutton{
    text-align:center;
    margin-bottom:10px;
    width: 40%;
}

/* button submit */
#monForm input[type="submit"] {
    border: #DDEEFF 1px solid;
    width: 27%;
}

#monForm input[type="submit"]:hover {
    background-color: #66CC33;
    cursor: pointer;
}

#monForm input[type="reset"] {
    border: #DDEEFF 1px solid;
    width: 27%;
}

#monForm input[type="reset"]:hover {
    background-color: #E6484D;
    cursor: pointer;
}

.ds_box {
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    z-index: 32767;
}

.ds_tbl {
    background-color: #fff;
}

.ds_head {
    background-color: #585858;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.ds_subhead {
    background-color: #ccc;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 32px;
}

.ds_cell {
    background-color: #EEE;
    color: #000;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.ds_cell:hover {
    background-color: #F3F3F3;
} /* This hover code won't work for IE */

/** Styling for library GUI **/

#libsearch input{
    font-size: 0.9em;
}

#libsearch select{
    font-size:0.9em;
}

td.mtdfield{
   background-color:#565B9E;
   border:2px solid white;
   color:white;
   font-weight:bolder;
   min-height:24px;
   padding:4px;
   padding-right:10px;
   text-align:right;
   width:25%;
}

td.mtdnum{
   background-color:#565B9E;
   border:2px solid white;
   color:#B9B9D9;
   min-height:24px;
   padding:4px;
   text-align:right;
   width:5%;
}

td.mtdvalue{
   width:70%;
   text-align:left;
   padding:2px;
   background-color:#F0F0F7;
   padding-left:10px;
}

fieldset.subbranch{
   margin-left:5px;
}

fieldset > legend{
   padding:5px;
   font-weight:bolder;
   color:#54549E;
}

.sharedresource-listsection{
    font-weight:bold;
    text-align:center;
}

#notice-menu LI {
    background-color: #A7A3BA;
    font-weight:bolder;
    padding:4px;
    color:#f0f0f0;
}

#notice-menu .active{
    background-color: #4D4860;
    color:#f0f0f0;
}

#page-mod-sharedresource-metadatanotice #ecform_content{
    padding:0px;
}

#page-mod-sharedresource-metadatanotice #ecform_content .mtd-description-panel {
    text-align:left;
    padding:20px;
}

/** Tableless search engine **/

#sharedresource-search{
    float:left;
    width:200px;
}

.widget .header{
    background-color: #6B6486;
    color:#f0f0f0;
    padding:2px;
    font-weight:bold;
}

.mtd-tab-visible {
    float:left;
    display:inline;
}

.mtd-tab-hidden {
    float:left;
    display:none;
}