@charset "utf-8";

.mtd-setting {
    padding: 3px;
    text-align: center;
}

#mtd-form-container {
    text-align: center;
    width: 95%;
}

#mtd-form-tabs.tabtree {
    margin-bottom: 0;
}

#mtd-form-menu.tabrow0 {
    line-height: initial;
    margin-bottom: 0;
}

#mtd-form-menu.tabrow0 li {
    border-bottom: solid 1px #ddd;
    border-collapse: separate;
    position: relative;
    top: -1px;
    z-index: 100;
}

#mtd-form-menu.tabrow0 li.here {
    border-bottom: none;
}

#mtd-form-menu.tabrow0 li.is-empty.here a span {
    background-color:red;
    color: white;
}

#mtd-form-menu.tabrow0 li.is-empty a span {
    background-color: #ffd0d0;
    color: #000;
}

.path-mod-sharedresource-forms #mtd-form-title {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 20px 0;
}

.path-mod-sharedresource-forms p {
    margin: 2px 0;
    margin-bottom: 10px;
}

.path-mod-sharedresource-forms fieldset {
    border: #ccc 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px 7px 7px 7px;
}

.path-mod-sharedresource-forms fieldset:hover {
    background-color: #fff;
}

.path-mod-sharedresource-forms fieldset legend {
    color: #999;
    font-size: 1.3em;
    padding: 0 10px;
}

/* Label */
.path-mod-sharedresource-forms label {
    background: #ddd;
    display: block;
    float: left;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding-right: 1%;
    text-align: right;
    width: 35%;
}

.path-mod-sharedresource-forms label:hover {
    font-weight: bold;
}

.path-mod-sharedresource-forms label .error {
    background-color: #f00;
}

.path-mod-sharedresource-forms .form_label_nostyle {
    background: none;
}

/* Input */
.path-mod-sharedresource-forms input,
.path-mod-sharedresource-forms select {
    border: #ccc 1px solid;
    margin-left: 1%;
    width: 62%;
}

.path-mod-sharedresource-forms input.mtd-form-duration {
    width: 2em;
}

.path-mod-sharedresource-forms input:hover,
.path-mod-sharedresource-forms select:hover,
.path-mod-sharedresource-forms input:focus,
.path-mod-sharedresource-forms select:focus {
    border: #ccc 1px solid;
}

.path-mod-sharedresource-forms .form_input_day {
    text-align: center;
    width: 20%;
}

.path-mod-sharedresource-forms .form_input_month {
    text-align: center;
    width: 20%;
}

.mtd-form .form_input_year {
    text-align: center;
    width: 20%;
}

.mtd-form .form_input_duration {
    width: 6%;
}

.mtd-form .addbutton {
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
}

#mtd-edit-form-submits {
    margin-top: 20px;
}

/* button submit */
.mtd-form input[type="submit"] {
    border: #ddeeff 1px solid;
    width: 27%;
}

.mtd-form input[type="submit"]:hover {
    background-color: #6c3;
    cursor: pointer;
}

.path-mod-sharedresource-forms input[type="reset"] {
    border: #def 1px solid;
    width: 27%;
}

.path-mod-sharedresource-forms input[type="reset"]:hover {
    background-color: #e6484d;
    cursor: pointer;
}

#mtd-form-content {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-bottom: thin #ddd solid;
    border-left: thin #ddd solid; 
    border-right: thin #ddd solid;
    border-top: thin #ddd solid;
    clear: both;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow-x : hidden;
}

.mtd-form-element textarea.mtd-form-input {
    min-height: 6em;
    min-width: 50%;
}

.mtd-tab {
    line-height: 38px;
}

.mtd-tab-hidden {
    display: none;
}

.mtd-tab-visible {
    display: inline-block;
}

.mtd-title-content {
    margin-top: 1em;
}

#mtd-form-container .on {
    display: block;
}

#mtd-form-container .off {
    display: none;
}

.son {
    display: block;
}

.soff {
    display: none;
}

#mtd-form-container .addbutton {
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
}

.ds_box {
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    z-index: 32767;
}

.ds_tbl {
    background-color: #fff;
}

.ds_head {
    background-color: #585858;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.ds_subhead {
    background-color: #ccc;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 32px;
}

.ds_cell {
    background-color: #eee;
    color: #000;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

.ds_cell:hover {
    background-color: #f3f3f3;
} /* This hover code won't work for IE */

/** Styling for library GUI **/

#libsearch input {
    font-size: 0.9em;
}

#libsearch select {
    font-size: 0.9em;
}

td.mtd-field {
    background-color: #eee;
    border: 2px solid white;
    color: black;
    font-weight: bolder;
    min-height: 24px;
    padding: 4px;
    padding-right: 10px;
    text-align: left;
    width: 25%;
}

td.mtd-num {
    background-color: #eee;
    border: 2px solid white;
    color: #666;
    min-height: 24px;
    padding: 4px;
    text-align: left;
    width: 5%;
}

td.mtd-value {
    padding: 2px;
    padding-left: 10px;
    text-align: left;
    width: 70%;
}

.mtd-resource-name {
    color: initial;
}

.mtd-date-element select {
    width: 6em;
}

.mtd-form-element {
    margin-top: 10px;
}

.mtd-form-element textarea {
    margin-left: 1%;
}

fieldset.subbranch {
    margin-left: 5px;
}

fieldset > legend {
    color: #54549e;
    font-weight: bolder;
    padding: 5px;
}

.sharedresource-listsection {
    font-weight: bold;
    text-align: center;
}

/** Tableless search engine **/

#sharedresource-search {
    float: left;
    width: 200px;
}

.widget .header {
    background-color: #6b6486;
    color: #f0f0f0;
    font-weight: bold;
    padding: 2px;
}

.sharedresources-commands {
    margin-top: 10px;
    text-align: right;
}

.rootnode {
    border-top: 3px solid;
}

.rootnode > td {
    background-color: #f0f0ff;
}

.sharedresources-actionlink {
    cursor: pointer;
}

.shadowed {
    -moz-opacity: 0.5;
    opacity: 0.5;
}

#sharedresource-add-instance {
    display: table;
}

#sharedresource-add-instance > div {
    border: 1px solid #aaa;
    border-radius: 8px;
    display: table-cell;
    padding: 20px;
}

.sharedresource-instructions {
    margin-bottom: 30px;
}

.sharedresource-link {
    text-align: center;
}

.path-mod-sharedresource-forms input[disabled],
.path-mod-sharedresource-forms input[readonly],
.path-mod-sharedresource-forms select[disabled],
.path-mod-sharedresource-forms select[readonly],
.path-mod-sharedresource-forms textarea[disabled],
.path-mod-sharedresource-forms textarea[readonly] {
    background-color: #eee;
    cursor: not-allowed;
}

.path-mod-sharedresource-forms .mtd-form-element.is-empty.is-mandatory input,
.path-mod-sharedresource-forms .mtd-form-element.is-empty.is-mandatory select,
.path-mod-sharedresource-forms .mtd-form-element.is-empty.is-mandatory textarea {
    background-color: #ffd0d0;
}

/* Mandatory elements */
.path-mod-sharedresource-forms .is-mandatory label,
.path-mod-sharedresource-forms .is-mandatory legend {
    color: #F00000;
}

a.sharedresource-actionlink {
    background-color: #cccccc;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 3px 10px;
}

#sharedresources-link-to-search input[type=button], #sharedresources-link-to-browser input[type=button] {
    color: #ffffff;
    background-color: #cccccc;
    border-radius: 3px;
    padding: .375rem .75rem;
}

.sharedresources-pager a {
    margin-right: 20px;
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.path-mod-sharedresource .tabrow0 .here a span {
    background-color: #cccccc;
    background-image: none;
    color: white;
}

#page-mod-sharedresource-metadatanotice #ecform_content {
    padding: 0;
}

#notice-menu li {
    background-color: #a7a3ba;
    color: #f0f0f0;
    font-weight: bolder;
    padding: 4px;
}

#notice-menu .active {
    background-color: #4d4860;
    color: #f0f0f0;
}

#page-mod-sharedresource-metadatanotice #ecform_content .mtd-description-panel {
    padding: 20px;
    text-align: left;
}

#page-mod-sharedresource-metadatanotice h2 {
    background-color: #e6e6e6;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 10px;
}

#mtd-form-schema {
    padding: 10px;
}