



<!-- addinstance -->
<div id="sharedresource-add-instance">
    <div id="sharedresource-search-choice" class="span6 ms-col-6">
        <div class="sharedresource-instructions">
            {{{searchdesc}}}
        </div>

        <div class="sharedresource-link">
            {{{searchbutton}}}
        </div>
    </div>

    {{#cancreate}}
    <div id="sharedresource-create" class="span6 ms-col-6">
        <div class="sharedresource-instructions">
            {{{createdesc}}}
        </div>

        <div class="sharedresource-link">
            {{{createbutton}}}
        </div>
    </div>
    {{/cancreate}}
</div>
<!-- /addinstance -->