{{!
    This file is part of The Sharedresource Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sharedresource/metadatacheckerror

    Classes required for JS:
    * none

}}
<!-- metadatacheckerror -->
<h3>{{errormetadatastr}}</h3>

<div class="mtd-error-report">

{{#error}}
    <div class="mtd-error-element">
        <strong>{{fieldnum}} : {{fieldname}}</strong>
    </div>
{{/error}}

</div>
<!-- /metadatacheckerror -->
