{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/metadatachilds

    Used when a resource is setup as popuped but accessed directly

    Classes required for JS:
    * mod/sharedresource/amd/view.js

}}
<!-- metadatachilds -->
{{#childs}}
<table width="100%">

{{#isscalar}}
    <tr>
        <td class="mtd-num {{keyid}}">{{dottedfieldnum}}</td>
        <td class="mtd-field {{keyid}}">{{fieldvisiblename}} {{occur}}</td>
        <td class="mtd-value">{{{mtdvalue}}}</td>
    </tr>
{{/isscalar}}

{{#iscontainer}}
    <tr>
        <td colspan="3">
            <fieldset class="subbranch">
                <!-- legend>{{fieldnum}} {{fieldvisiblename}} {{occur}}</legend -->

                {{#hascontent}}
                {{> mod_sharedresource/metadatachilds }}
                {{/hascontent}}
            </fieldset>
        </td>
    </tr>
{{/iscontainer}}

{{#iscontainerline}}
    <tr>
        <td></td>
        <td></td>
        <td>
            {{#hascontent}}
            {{> mod_sharedresource/metadatachilds }}
            {{/hascontent}}
        </td>
    </tr>
{{/iscontainerline}}

</table>
{{/childs}}
<!-- /metadatachilds -->