{{!
    This file is part of The Sharedresource Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sharedresource/metadatacheckreport

    Classes required for JS:
    * none

}}
<!-- metadatacheckreport-->
<table width="70%">
    <tr>
        <td align="center" width="25%">'.$fieldnamestr.'</td>
        <td align="center" width="25%">'.$fieldidstr.'</td>
        <td align="center">'.$valuestr.'</td>
    </tr>

{{#elements}}

{{#isclassification}}
    <tr>
        <td align="center">
            <strong>{{sourcename}}</strong>
        </td>

        <td align="center">
            <strong>{{source}}</strong>
        </td>

        <td align="center">
                {{sourcevalue}}
        </td>
    </tr>

    <tr>
        <td align="center">
            <strong>{{identifier}}</strong>
        </td>
            <td align="center">
                <strong>{{identifier}}</strong>
            </td>

            <td align="center">
                {{identifiervalue}}
            </td>
        </tr>

        <tr>
            <td align="center">
                <strong>{{entry}}</strong>
            </td>

            <td align="center">
                <strong>{{entry}}</strong>
            </td>

            <td align="center">
                {{entryvalue}}
            </td>
        </tr>
{{/isclassification}}

{{^isclassification}}
    <tr>
        <td align="center">
            <strong>{{name}}</strong>
        </td>

        <td align="center">
            <strong>{{key}}</strong>
        </td>

        <td align="center">
            {{value}}
        </td>
    </tr>
{{/isclassification}}
{{/elements}}
</table>

<!-- /metadatacheckreport-->