<!-- mod_sharedresource/metadataeditpanel -->
{{#panels}}
<div id="id-tab-{{i}}" class="mtd-editform-panel off mtd-content">
{{#panelchilds}}
{{> mod_sharedresource/metadataeditformchilds}}
{{/panelchilds}}
</div>
{{/panels}}
<!-- /mod_sharedresource/metadataeditpanel -->
