{{!
    This file is part of The Sharedresource Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sharedresource/selecttaxonsform

    Classes required for JS:
    * none

}}
<!-- selecttaxonsform -->
<form id="selecttaxons-form" method="post" action="{{{formurl}}}">
<div>
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <input type="hidden" name="id" value="{{classifid}}" />

    <table id="selecttaxons" class="admintable selecttaxonstable generaltable" cellspacing="0">
        <tr>
            <td id="existingcell">
                <p><label for="removeselect">{{selectedstr}}</label></p>
                {{{selectedtaxonsselector}}}
            </td>

            <td id="buttonscell">
                <div id="addcontrols">
                    <input name="add" id="add" type="submit" value="{{{larrowstr}}}" title="{{titleadd}}" /><br />
                </div>

                <div id="removecontrols">
                    <input name="remove" id="remove" type="submit" value="{{{rarrowstr}}}" title="{{titleremove}}" />
                </div>
            </td>

            <td id="potentialcell">
                <p><label for="addselect">{{potentialtaxonsstr}}</label></p>
                {{{potentialtaxonsselector}}}
            </td>
        </tr>
    </table>
</div>
</form>
<!-- /selecttaxonsform -->